@import '@/globals.scss';

.form {
  margin: 0 auto;
  align-self: center;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: $form-shadow;
  color: $god-gray;
  padding: 48px 30px 28px;

  &_login {
    height: 460px;
  }

  &__title {
    all: unset;
    text-align: center;
    font: $form-title-font;
    flex-basis: 18%;
  }

  &__input-group,
  &__button-group {
    display: flex;
    flex-direction: column;
  }

  &__input-group {
    flex-grow: 1;
    row-gap: 22px;
  }

  &__button-group {
    align-items: center;
  }

  &__button_submit,
  &__button_signup {
    all: unset;
    cursor: pointer;
  }
}

.labeled-input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    opacity: 0;
    color: $white;
    pointer-events: none;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $royal-blue;
    outline: none;
    padding: 5px 0;
    &::placeholder {
      font-size: $text-m;
      color: $dusty-gray;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      top: -4px;
      left: 0;
      font: $input-label-font;
      color: $dusty-gray;
      opacity: 1;
    }

    &:focus {
      &::placeholder {
        color: $white;
      }
    }
  }
}

.button {
  all: unset;
  cursor: pointer;
  text-align: center;

  &_submit {
    width: 100%;
    border-radius: 8px;
    font-size: $text-m;
    color: $white;
    background-color: $royal-blue;
    margin-bottom: 16px;
    padding: 10px 0;
  }

  &_signup {
    font-size: $text-s;
    color: $royal-blue;
  }
}
