.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
  font-size: $text-m;

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 9px 0px;

    &:not(:last-child) {
      border-bottom: 1px solid $gallery;
    }

    &:last-child {
      border-bottom: 1px solid transparent;
    }

    &__value {
      color: $dusty-gray;
    }
  }
}
