@import '@/assets/styles/globals';
@import '@/partials/styles/button';

@mixin chat-name {
  color: $god-gray;
  font-size: $text-m;
  font-weight: 600;
}

.chat-panel,
.tools,
.list,
.chat {
  display: flex;
  flex-direction: column;
}

.avatar {
  border-radius: 100%;
  background-color: $gallery;
}

.chat-panel {
  width: 310px;
  border-right: $border-gallery;

  &__list {
    overflow: scroll;
    flex-grow: 1;
  }
}

.tools {
  padding: 21px 10px 15px;
  row-gap: 24px;
  position: relative;

  &::after {
    @include pseudo-border('bottom', -1px, 20px);
  }

  &__profile-btn {
    align-self: flex-end;
  }
}

.search-tool {
  position: relative;

  &__input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: $gallery;
    color: $god-gray;
    padding: 10px 0 10px 126px;
    font-size: 12px;
    transition: padding 0.3s ease;

    &:not(:placeholder-shown),
    &:focus {
      padding-left: 34px;
      &::placeholder {
        color: transparent;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 39%;
    top: 50%;
    transform: translate(-39%, -50%);
    transition: left 0.3s ease;

    .search-tool__input:not(:placeholder-shown) ~ &,
    .search-tool__input:focus ~ & {
      left: 10px;
      transform: translate(0, -50%);
    }
  }
}

.chat-prev {
  border-top: 1px solid transparent;
  position: relative;
  padding: 12px 10px;
  display: flex;
  column-gap: 10px;

  &::after {
    @include pseudo-border('bottom', -1px, 20px);
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 2.5px;
    bottom: 2.5px;
    background-color: $message-prev-bg;
    z-index: -111;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;

    &::before {
      opacity: 1;
    }
  }

  &_active {
    &::before {
      opacity: 1;
    }
  }

  &__avatar {
    width: 47px;
    min-width: 47px;
    height: 47px;
  }

  &__info {
    color: $dusty-gray;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    &_first-row,
    &_second-row {
      display: flex;
      justify-content: space-between;
    }

    &_first-row {
      align-items: center;
    }

    &_second-row {
      flex-grow: 1;
    }

    &__name {
      @include chat-name;
    }

    &__date {
      font-size: $text-xs;
    }

    &__message-prev {
      font-size: 12px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      flex-basis: 85%;

      &_self {
        color: $god-gray;
      }
    }

    &__message-count {
      width: 20px;
      height: 20px;
      background-color: $royal-blue;
      border-radius: 100%;
      color: $white;
      font-size: $text-s;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
    }
  }
}

.chat {
  flex-grow: 1;
  font-size: 12px;
  color: $dusty-gray;
  padding: 0 20px;

  &_no-chat {
    align-items: center;
    justify-content: center;
  }

  &_active {
    align-items: normal;
    justify-content: space-between;
  }

  &__header {
    padding: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $border-gallery;
  }

  &__chat-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__avatar {
    width: 34px;
    min-width: 34px;
    height: 34px;
  }

  &__chat-name {
    @include chat-name;
  }

  &__more-btn {
    width: 25px;
    height: 25px;
    border-radius: 100%;

    &:hover {
      //!TODO
    }
  }

  &__form {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-top: $border-gallery;
    column-gap: 10px;
  }

  &__file-btn,
  &__more-btn,
  &__send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__send-btn {
    img {
      rotate: 0.5turn;
    }
  }

  &__message-input {
    flex-grow: 1;
    border-radius: 30px;
    border: none;
    resize: none;
    outline: none;
    background-color: $gallery;
    padding: 10px 20px;

    &::placeholder {
      font-size: 12px;
      font-weight: 500;
      color: $dusty-gray;
    }
  }

  &__content {
    overflow: scroll;
    flex-grow: 1;
  }
}
