<div class="info">
  <h1 class="info__title">{{ code }}</h1>
  <h2 class="info__meaning">{{ meaning }}</h2>
  <button
    class="button button_no-background button_redirect info__button"
    type="button"
  >
    {{ buttonText }}
  </button>
</div>
