<form class="form {{ this.class }}" name="form">
  <h1 class="{{ this.titleClass }}">{{ this.title }}</h1>
  <div class="input-group form__input-group">
    {{#each inputs}} {{> form-input input=.}} {{/each}}
  </div>
  <div class="button-group form__button-group">
    {{#each buttons}} {{> button button=.}} {{/each}}
  </div>
</form>
